@tailwind base;
@tailwind components;
@tailwind utilities;

.chart-area {
    position: relative;
    height: 20rem;
    width: 100%;
}

.chart-pie {
    position: relative;
    height: 15rem;
    width: 100%;
}

@media (min-width: 768px) {
    .chart-area {
        height: 20rem;
    }
    .chart-pie {
        height: 15rem;
    }
}